// Mixins

// Animation
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@keyframes tilt {
  0% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}

@keyframes anti-tilt {
  0% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(2deg);
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
    // visibility: hidden;
  }
  100% {
    opacity: 1;
    // visibility: visible;
  }
}

@keyframes color-shift {
  0% {
    color: $ColorPrimary;
  }
  20% {
    color: $ColorLight;
  }
  40% {
    color: $ColorLight;
  }
  100% {
    color: $ColorPrimary;
  }
}

// Arrows
@mixin arrow($direction: down, $size: 5px, $color: #555) {
  width: 0;
  height: 0;
  @if ($direction == left) {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-right: $size solid $color;
  } @else if ($direction == right) {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size solid $color;
  } @else if ($direction == down) {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-top: $size solid $color;
  } @else {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: $size solid $color;
  }
}

// Text shortening
@mixin text-shorten {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
