// *Sizing----------------------
$Size1: 4px;
$Size2: 8px;
$Size3: 12px;
$Size4: 16px;
$Size5: 24px;
$Size6: 32px;
$Size6-2: 42px;
$Size7: 48px;
$Size8: 64px;
$Size8-2: 72px;
$Size9: 96px;
$Size10: 128px;
$Size11: 192px;
$Size12: 256px;
$Size13: 384px;
$Size14: 512px;
$Size14: 640px;
$Size15: 768px;

$FontSize__h1: 48px;
$FontSize__h2: 36px;
$FontSize__h3: 30px;
$FontSize__h4: 24px;
$FontSize__h5: 20px;
$FontSize__h6: 18px;
$FontSize__quote: 24px;
$FontSize__body: 16px;
$FontSize__code: 16px;
$FontSize__link: 16px;
$FontSize__footer: 12px;
$FontSize__xsmall: 12px;
$FontSize__small: 14px;
$FontSize__large: 18px;
$FontSize__xlarge: 20px;
