@keyframes tilt {
  0% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}

@keyframes anti-tilt {
  0% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(2deg);
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

// *Bio----------------------
.bio {
  grid-column: 2/3;
  min-width: 75vw;
  margin-top: $Size11;

  @include media('<1000px') {
    margin: $Size10 $Size5 $Size8 $Size5;
  }

  @include media('<700px') {
    margin: $Size11 $Size4 $Size7 $Size4;
  }

  @include media('<500px') {
    margin: $Size11 $Size4 $Size6 $Size4;
  }

  @include media('<450px') {
    margin: $Size10 $Size4 $Size5 $Size4;
  }

  & .bio__tilt {
    background: $ColorDark;
    transform: rotate(-3deg);
    animation-name: tilt;
    animation-duration: 2s;
    margin: auto;
    max-width: 750px;
    padding: 3px;
  }

  & .bio__title {
    @include font-rules(h1, 800, italic, center);
    font-size: $Size10;
    color: $ColorPrimary;
    transform: rotate(2deg);
    animation-name: anti-tilt;
    animation-duration: 2s;
    text-shadow: 2px 2px 0px $ColorDark;

    @include media('<1300px') {
      font-size: $Size9;
    }

    @include media('<950px') {
      font-size: $Size8-2;
    }

    @include media('<700px') {
      font-size: $Size8;
    }

    @include media('<570px') {
      font-size: $Size7;
    }

    @include media('<450px') {
      font-size: $Size6-2;
    }

    @include media('<360px') {
      font-size: $Size6;
    }
  }

  & .bio__tagline {
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    @include font-rules(h2, 600, italic, center);
    font-size: $Size7;
    margin-top: $Size9;

    @include media('<950px') {
      font-size: $Size6;
      margin-top: $Size8;
    }

    @include media('<700px') {
      font-size: $Size6;
      margin-top: $Size7;
    }

    @include media('<500px') {
      font-size: $Size6;
      margin-top: $Size6;
    }

    @include media('<450px') {
      font-size: $Size5;
    }

    a {
      animation-name: fadeInOpacity;
      animation-iteration-count: 1;
      animation-timing-function: ease-in;
      animation-duration: 0.5s;
      display: none;
      font-size: $Size7;
      color: $ColorDark;

      &:hover {
        color: $ColorLight;
        text-shadow: 1px 1px $ColorDark;
      }

      @include media('<950px') {
        font-size: $Size6;
        margin-top: $Size8;
      }

      @include media('<700px') {
        font-size: $Size6;
        margin-top: $Size7;
      }

      @include media('<500px') {
        font-size: $Size6;
        margin-top: $Size6;
      }

      @include media('<450px') {
        font-size: $Size5;
      }
    }
  }
}

.bio__tagline-icons {
  // animation-name: fadeInOpacity;
  // animation-iteration-count: 1;
  // animation-timing-function: ease-in;
  // animation-duration: 1s;
  @include font-rules(h2, 600, italic, center);
  grid-column: 2/3;
  // display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: $Size5 auto;
  max-width: 400px;
  justify-items: center;
  visibility: hidden;

  a {
    font-size: $Size6;
    padding: $Size2;
    color: $ColorDark;

    &:hover {
      color: $ColorLight;
      text-shadow: 1px 1px $ColorDark;
    }

    @include media('<450px') {
      padding: $Size3;
      font-size: $Size5;
    }

    i {
      @include media('<390px') {
        font-size: 1.2em;
      }
    }
  }
}
