.footer {
  // position: absolute;
  color: $ColorDark;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: $Size2;
  font-size: $Size3;
  font-weight: 400;
  text-align: center;
  animation-name: opacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-delay: 2s;
  visibility: hidden;
}
