html {
  background-color: #f2f4f3;
  margin: 0 auto;
  max-width: 960px;
  position: relative; /* Fix for absolute positioning */
}

body {
  align-items: center;
  background-color: #f2f4f3;
  height: 100vh;
  justify-content: center;
  margin: auto;
  padding: 30px;
}

h1 {
  background-color: #f2f4f3;
  color: #ef3054;
  font-family: "Nunito", sans-serif;
  font-size: 11vw;
  font-weight: 800;
  margin: auto;
  padding-top: 10px;
  position: relative;
  text-align: center;
  text-shadow: 1px 1px 1px #605c70;
}

h2 {
  background-color: #ef3054;
  color: #f2f4f3;
  font-family: "Nunito", sans-serif;
  font-size: 5vw;
  font-style: italic;
  font-weight: 600;
  margin: 0 0 10px 0;
  padding: 0.5vw 5vw 0.5vw 5vw;
  text-align: center;
  text-shadow: 1px 1px 1px #605c70;
  text-transform: lowercase;
}

hr {
  background-color: black;
  border: none;
  height: 0.5px;
  margin: auto;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 2vmax;
  font-weight: 300;
  letter-spacing: 0.25px;
  line-height: 1.5em;
  text-align: justify-all;
  margin-bottom: 15px;
}

img.round {
	border-radius: 50%;
	display: block;
	height: auto;
	max-width: 25%;
	margin: auto;
}

code {
  color: rgb(95, 95, 95);
  font-weight: 300;
}

a {
	font-weight: bold;
	color: #20A4F3;
}

a:hover {
	color: #ef3054;
}

footer {
  clear: both;
  color: #7c7c7c;
  font-size: 10px;
  font-style: italic;
  font-weight: 100;
  margin: 0 0 10px 0;
  text-align: center;
}

.footer {
  background-color: #f2f4f3;
  bottom: 0;
  color: white;
  font-family: "Roboto", sans-serif;
  left: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}