// Palette
// -------------------------


// Colors
// -------------------------
$CharlestonGreen: #212529;
$BGDarker :       #2B2D42;
$SpaceCadet :     #2B2D42;
$RaisinBlack:     #2e2c2f;
$Black:           #2e2c2f;
$Independence:    #605c70;
$Grey:            #5f5f5f;
$GrayWeb:         #7c7c7c;
$Seashell:        #FFF4EC;
$Cultures:        #f2f4f3;
$White:           #f2f4f3;
$DeepPink:        #e83e8c;
$DeepCerise:      #E63789;
$RoseMadder:      #E71D36;
$Red:             #ef3054;
$SizzlingRed:     #FF595E;
$LightCoral:      #EF767A;
$OrangeRed:       #F86624;
$OrangeSoda:      #F06449;
$Sandy:           #F29E4C;
$Jonquil:         #F9C80E;
$Peach :          #FFC999;
$Seafoam:         #16DB93;
$SpringGreen:     #32E875;
$TiffanyBlue:     #2EC4B6;
$ElectricBlue:    #56EEF4;
$MaxBlueGreen:    #43BCCD;
$Blue:            #20a4f3;
$MiddleBluePurple:#7D7ABC;
$Liberty:         #6457A6;

// Jen Simmons Colors
$JenWhite: rgb(246,243,234);
$JenBlack: rgb(59,59,55);
$JenRed: rgb(249,66,58);


/* SCSS HSL */
$brick-red: hsla(355, 66%, 78%, 1);
$jet: hsla(270, 4%, 20%, 1);
$dim-gray: hsla(0, 0%, 42%, 1);
$alabaster: hsla(45, 5%, 96%, 1);
$air-superiority-blue: hsla(203, 46%, 74%, 1);

/* SCSS RGB */
$Primary: rgba(199, 67, 78, 1); // #C7434E
$Secondary: rgba(102, 155, 188, 1); // #669BBC
$Dark: rgba(50, 49, 51, 1); // #323133
$Light: rgba(246, 243, 234, 1); // #F6F3EA
$Shadow: rgba(107, 107, 107, 1); // #6B6B6B