// Palette
$ColorLight: #eff3ff;
$ColorGray: rgba(0, 0, 0, 0.733);
// $ColorPrimary: #ee6868;
$ColorPrimary: #f5668c;
$ColorSecondary: #1d1d1d;
$ColorDark: #1d1d1d;
$ColorShadow: gray;

// Pink: F5668C
// Blue: 98C4EF
// Green: BAEA93
