.dark-mode {
  position: absolute;
  transform: translate(5px, 13px);
  @include media('<760px') {
    transform: translate(660px, 10px);
  }
  @include media('<725px') {
    transform: translate(270px, 0px);
  }
  @include media('<590px') {
    transform: translate(230px, 0px);
  }
  @include media('<510px') {
    transform: translate(200px, 0px);
  }
  @include media('<450px') {
    transform: translate(340px, 0px);
  }
  @include media('<405px') {
    transform: translate(305px, 0px);
  }
  @include media('<360px') {
    transform: rotate(0deg);
    transform: translate(250px, -3px);
  }
}

body.dark {
  background-color: $ColorDark;
  color: $ColorPrimary;
  transition: transform 0.2s linear;
  .toggle-label {
    background-color: $ColorPrimary;
  }
  .ball {
    background-color: $ColorDark;
  }
  i.toggle-icons {
    color: $ColorDark;
  }
  .active {
    border-bottom: 6px solid $ColorPrimary;
    // color: $ColorDark;
    &:hover {
      color: $ColorLight;
      text-shadow: 1px 1px $ColorLight;
    }
  }
  .navbar {
    background-color: $ColorDark;
    color: $ColorPrimary;
    ul > li > a {
      background-color: $ColorDark;
      color: $ColorPrimary;
    }
    .navbar__link:hover {
      color: $ColorLight;
    }
  }
  .bio__tilt {
    background-color: $ColorPrimary;
    color: $ColorDark;
    .bio__title {
      color: $ColorDark;
      text-shadow: 2px 2px 0px $ColorPrimary;
    }
    & .bio__title-fade {
      @extend .bio__title;
      color: $ColorLight;
      animation-name: color-shift-dark;
    }
  }
  .bio__tagline {
    background-color: $ColorDark;
    color: $ColorPrimary;
    a {
      background-color: $ColorDark;
      color: $ColorPrimary;
    }
  }
  .tooltip .tooltiptext {
    background-color: $ColorPrimary;
    color: $ColorDark;
    text-shadow: none;
  }
  .footer {
    background-color: $ColorDark;
    color: $ColorPrimary;
  }
  .bio__tagline-icons a {
    color: $ColorPrimary;
    &:hover {
      color: $ColorLight;
    }
  }
  .cards {
    // color: $ColorPrimary;
    background-color: $ColorDark;
    .cards__post-header-tilt {
      background: $ColorPrimary;
      color: $ColorDark;
    }
    .cards__post-header {
      color: $ColorLight;
      animation-name: color-shift-dark;
      text-shadow: 3px 3px 0 $ColorPrimary;
    }
    .cards__post-sub-header-hi {
      color: $ColorPrimary;
    }
  }
  .cards .cards__post a i {
    color: $ColorPrimary;
    &:hover {
      color: $ColorLight;
    }
  }
  article.work .work__dev-projects h6 {
    color: $ColorPrimary;
    text-shadow: none;
  }
  .work__writing {
    .work__writing-section-head {
      color: $ColorDark;
      background-color: $ColorPrimary;
    }
    .work__writing-sec-prose {
      .work__writing-item-prose {
        list-style-image: none;
      }
    }
    .work__writing-sec-academic {
      .work__writing-item-academic {
        list-style-image: none;
      }
    }
    .work__writing-sec-copy {
      .work__writing-item-copy {
        list-style-image: none;
      }
    }
  }
  article.work .work__job li.work__job-detail {
    color: $ColorPrimary;
    text-shadow: none;
  }

  hr {
    color: $ColorPrimary;
  }
  .link {
    color: $ColorPrimary;
    border-bottom: 2px solid $ColorPrimary;
    border-bottom: 2px solid $ColorLight;
    &:hover {
      color: $ColorLight;
    }
  }
  .link__demos-link-wrapper {
    padding: $Size2;
    border: 2px solid $ColorPrimary;
    box-shadow: 2px 2px $ColorPrimary;
  }
  .link__demos-link {
    color: $ColorPrimary;
    text-shadow: none;
    font-weight: 600;
    font-size: $FontSize__xlarge;
    font-style: italic;
    padding: 80px;
    &:hover {
      color: $ColorLight;
    }
  }
  .link__demos-border-bottom {
    border-bottom: 2px solid $ColorPrimary;
  }
  //* Contact Form
  form {
    input[type='text'] {
      background: $ColorDark;
      border: 2px solid $ColorPrimary;
      box-shadow: 2px 2px $ColorPrimary;
      color: $ColorLight;
    }
    input[type='email'] {
      background: $ColorDark;
      border: 2px solid $ColorPrimary;
      box-shadow: 2px 2px $ColorPrimary;
      color: $ColorLight;
    }
    textarea {
      background: $ColorDark;
      border: 2px solid $ColorPrimary;
      box-shadow: 2px 2px $ColorPrimary;
      color: $ColorLight;
    }
    input[type='submit'] {
      background: $ColorDark;
      border: 2px solid $ColorPrimary;
      box-shadow: 2px 2px $ColorPrimary;
      color: $ColorPrimary;
      &:hover {
        color: $ColorDark;
        background: $ColorPrimary;
        box-shadow: 2px 2px $ColorPrimary;
      }
    }
  }
  label {
    color: $ColorPrimary;
  }
  code {
    color: $ColorDark;
    background: $ColorPrimary;
  }
}

.toggle-label {
  background-color: $ColorDark;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border-radius: 50px;
  width: 50px;
  height: 26px;
  position: relative;
}

i.toggle-icons {
  color: $ColorPrimary;
  font-size: $Size4;
}

.ball {
  top: 2px;
  left: 2px;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  background-color: $ColorPrimary;
  position: absolute;
  transition: transform 0.1s linear;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox:checked + .toggle-label .ball {
  transform: translateX(24px);
}
