.about {
  display: grid;
}

.mw {
  max-width: 65ch;
}

.cards__post-content {
  margin: 0 auto;
  ul {
    line-height: 1.7;
    padding: 0 0 $Size1 $Size5;
    li {
      font-size: 18px;
      padding: $Size2 0 $Size1;
    }
  }
}
