.blog {
  display: grid;
  margin: $Size3;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: $Size5;
}

.blog__card-img {
  justify-self: center;
  width: 100%;
  max-width: 100ch;
  border-radius: 3%;
}

.blog__card {
  border-radius: 3%;
  box-shadow: 0px 4px 5px 0 $ColorDark;
  transition: 0.3s;
  margin-top: $Size3;
  padding: $Size6 $Size6;
  &.blog__card:hover {
    box-shadow: 0 8px 12px 0 $ColorDark;
  }
}
.blog__card-head {
  font-size: $Size7;
  line-height: 1.1;
  padding: $Size4 0;
}
p.blog__card-content {
  font-size: $Size5;
  line-height: 1.3;
}

.blog__card-link {
  font-size: $Size5;
  font-weight: 600;
  line-height: 1.3;
  padding: $Size4 0;
  text-shadow: 1px 1px $ColorDark;
}
// .blog__card-link-item {
// }
// .blog__card-social-list {
//   justify-self: end;
// }
// .blog__card-social-item {
//   background: black;
// }
// .blog__page {
// }
// .blog__page-head {
// }
// .blog__page-content {
// }
// .blog__page-img {
// }
// .blog__page-link {
// }
// .blog__page-social-icons {
// }
