// Palette
$ColorPrimary: #C7434E;
$ColorPrimaryHue: #CC7E45;
$ColorPrimaryShade: #840A13;
$ColorSecondary: #669BBC;
$ColorSecondaryHue: #C8E1F0;
$ColorSecondaryShade: #2A658B;
$ColorDark: #323133;
$ColorDarkHue: #757278;
$ColorDarkShade: #0C0908;
$ColorLight: #F6F3EA;
$ColorLightHue: #FFFEFC;
$ColorLightShade: #D0cABA;
$ColorShadow: #6B6B6B;
$ColorShadowHue: #C9C8C8;
$ColorShadowShade: #343434;