// TODO: 
// • Clean-up redundancies, segregate media queries, organize
// • adjust mobile scroll top 
// 


@import "colors";
@import "fonts";
@import "mixins";

html {
  font-size: 18px;
  scroll-behavior: smooth;
  position: relative;
}

body {
  color: #323133;
  margin: auto;
  max-width: 660px;
  padding: 20px;
}

a {
  color: $ColorSecondary;
  text-decoration: none;
}

a:hover {
  color: $ColorPrimary;
  text-decoration: none;
}

/* ------------FLEX--------- */
.container-1 {
  flex-direction: column;
}

div.container-1 {
  margin: 0;
  padding: 0;
}

div.container-1 p {
  margin-bottom: 40px;
}

div.container-1 code {
  font-weight: lighter;
}

div.container-1 a {
  font-weight: bold;
  text-decoration: none;
}

.container-nav {
  display: flex;
  flex-wrap: nowrap;
}

.neu_parent {
  border-radius: 50px;
  background: #f6f3ea;
  box-shadow: 20px 20px 30px #eae7de, -20px -20px 30px #fffff6;
}

.container-nav nav,
ul {
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
}

.box-1 {
  order: 1;
}

div.box-1.neu_parent {
  margin-bottom: 20px;
  margin-top: 40px;
  padding-top: 50px;
}

.box-1 img {
  display: block;
  border-radius: 50%;
  border: 2px solid $ColorLight;
  width: 150px;
  margin: auto;
}

div.neu_parent.box-2 {
  background-color: $ColorLight;
}

.box-2 {
  order: 2;
  top: 0;
  position: sticky;
  position: -webkit-sticky;
  background-color: $ColorLight;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
  margin-bottom: 35px;
  z-index: 6;
}

div.social {
  display: flex;
  min-width: auto;
  padding-bottom: 20px;
  justify-content: center;
}

div.social i {
  padding: 10px 20px 10px 20px;
  margin: 0;
  z-index: 4;
}

.sticky-friend {
  order: 3;
  height: 130px;
  top: 0;
  position: sticky;
  position: -webkit-sticky;
  background-color: #f6f3ea;
}

.box-3 {
  order: 4;
  // margin-top: 320px;
  padding-top: 20px;
  border-radius: 50px;
  background: #f6f3ea;
}

.box-4 {
  order: 5;
  // margin-top: 300px;
}

.box-5 {
  order: 6;
  // margin-top: 300px;
}

.box-6 {
  order: 7;
  // margin-top: 300px;
}

.box-6 ul {
  margin-left: 60px;
}

/* -----------NAV ---------- */
// Outer container
div.box-2 {
  top: 40px;
  padding: 5px 25px 5px 25px;
}

// div.box-2.neu_parent {
//   box-shadow: 0 0 3px #eae7de, 
//   0 0 3px #fffff6;
// }

nav ul {
  list-style: none;
  margin: 0 2px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

ul.navlinks {
  list-style-position: inside;
  margin: auto;
  padding-left: 0;
  width: 100%;
}

.navlinks li {
  padding: 10px 20px 10px 20px;
  padding-left: 10px;
  padding-right: 10px;
  // background-color: green;
}

.navlinks a {
  color: $ColorShadow;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
}

.navlinks a:visited {
  color: $ColorShadow;
}

.navlinks a:hover {
  color: $ColorPrimary;
  font-weight: bold;
}

nav.container-nav {
  padding: 0 30px 0 30px;
}

.navlinks li {
  margin: 0;
  padding: 0;
}

.navlinks li a i {
  font-size: 20px;
}

// --------------ICONS-------------
i.fa {
  display: inline-block;
  font-size: 30px;
  line-height: 50px;
  width: 100%;
  text-align: left;
  vertical-align: bottom;
  background: none;
  color: $ColorSecondaryShade;
}

.fa:hover {
  color: $ColorPrimary;
}

// ----------------------BODY ELEMENTS----------------------
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
  width: 100%;
  margin-bottom: 40px;
}

.section {
  padding-top: 10px;
  padding-bottom: 10px;
}

p {
  margin-bottom: 3.15rem; //! Non-Font
  margin: auto; //! Non-Font
  max-width: 600px; //! Non-Font
  text-align: left; //! Non-Font
  padding-bottom: 20px; //! Non-Font
}

/*---------------MEDIA QUERIES----------------- */
@media only screen and (max-width: 750px) {
  p {
    max-width: 500px;
  }
}
@media only screen and (max-width: 650px) {
  p {
    max-width: 400px;
  }
}
@media only screen and (max-width: 600px) {
  .navlinks a {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 550px) {
  p {
    max-width: 367px;
  }
  .box-6 ul {
  margin-left: 30px;
}
}
@media only screen and (max-width: 500px) {
  div.box-2 {
    top: 40px;
  }
  nav ul {
    list-style: none;
    margin: 0 2px;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  ul.navlinks {
    list-style-position: inside;
    margin: auto;
    padding-left: 0;
    width: 100%;
  }
  .navlinks li {
    padding: 10px 20px 10px 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .navlinks a {
    // color: $ColorSecondary;
    text-decoration: none;
    font-weight: 400;
    font-size: 0.8rem;
  }
  .navlinks a:visited {
    // color: $ColorSecondary;
  }
  .navlinks a:hover {
    // color: $ColorPrimary;
    // font-weight: bold;
  }
  p {
    max-width: 367px;
  }
  .neu_parent {
    border-radius: 50px;
    background: #f6f3ea;
    box-shadow: 4px 4px 5px #eae7de, -4px -4px 5px #fffff6;
  }
  .sticky-friend {
    height: 50px;
  }
  // div.box-2 {
  //   top: 10px;
  //   height: 30px;
  // }
  .navlinks li {
    padding: 0;
    margin: 0;
  }
  .navlinks a {
    // color: $ColorSecondary;
    padding: 0;
    margin: 0;
    font-weight: 600;
    font-size: 12px;
  }
  .navlinks a:visited {
    // color: $ColorSecondary;
  }
  .navlinks a:hover {
    // color: $ColorPrimary;
    font-weight: 200;
  }
  ul.navlinks {
    padding-left: 10px;
    padding-right: 10px;
  }
  nav.container-nav {
    padding-left: 0;
    padding-right: 0;
  }
  i.navicons.fa {
    font-size: 20px;
    line-height: 1.6;
    justify-content: space-around;
  }
  i.fa {
    display: inline-block;
    font-size: 25px;
    line-height: 50px;
    width: 100%;
    text-align: left;
    vertical-align: bottom;
    background: none;
    // color: $ColorDark;
  }
  .fa:hover {
    // color: $ColorPrimary;
  }
}

@media only screen and (max-width: 425px) {
  .title {
    font-size: 3rem;
    padding: 0;
  }
  p {
    max-width: 283px;
  }
  div.social {
    padding-top: 20px;
  }
  .box-6 ul {
  margin-left: 0px;
  }
}

@media only screen and (max-width: 405px) {
  // .neu_parent {
  //   border-radius: 50px;
  //   background: #f6f3ea;
  //   box-shadow: 4px 4px 5px #eae7de, -4px -4px 5px #fffff6;
  // }
  .sticky-friend {
    height: 90px;
  }
  div.box-2 {
    top: 40px;
    height: 30px;
  }
  nav ul {
    display: flex;
    padding: 0;
    margin: 0;
  }
  ul.navlinks {
    padding: 0;
    margin: 0;
  }
  .navlinks li {
    padding: 0;
    margin: 0;
  }
  .navlinks a {
    // color: $ColorSecondary;
    padding: 0;
    margin: 0;
    font-weight: 600;
    font-size: 12px;
  }
  .navlinks a:visited {
    // color: $ColorSecondary;
  }
  .navlinks a:hover {
    // color: $ColorPrimary;
    font-weight: 200;
  }
  ul.navlinks {
    padding-left: 10px;
    padding-right: 10px;
  }
  nav.container-nav {
    padding-left: 0;
    padding-right: 0;
  }
  i.navicons.fa {
    font-size: 20px;
    line-height: 1.6;
    justify-content: space-around;
  }
  div.neu_parent.box-2 {
    padding-right: 0;
    padding-left: 0;
  }
  p {
    max-width: 300px;
  }
  i.fa {
    display: inline-block;
    font-size: 25px;
    line-height: 50px;
    width: 100%;
    text-align: left;
    vertical-align: bottom;
    background: none;
    // color: $ColorDark;
  }
  .fa:hover {
    // color: $ColorPrimary;
  }
}
// ----------FOOTER------------------
footer {
  padding-top: 30px;
  text-align: center;
  font-size: xx-small;
  color: $ColorShadow;
}

// ---------BORDERS - FOR LAYOUT TESTS--------
// body.borders div {
//   border: 1px solid black;
//   padding: 2px 2px 2px 2px;
// }
// body.borders div.sticky-friend {
//   border: 1px solid black;
//   padding: 2px 2px 2px 2px;
// }
// body.borders h1 {
//   border: 1px solid blue;
//   padding: 2px 2px 2px 2px;
// }
// body.borders nav {
//   border: 1px solid #c7434e;
//   padding: 2px 2px 2px 2px;
// }
// body.borders ul {
//   border: 1px solid green;
//   padding: 2px 2px 2px 2px;
// }
// body.borders li {
//   border: 1px solid cyan;
//   padding: 2px 2px 2px 2px;
// }
// body.borders p {
//   border: 1px solid purple;
//   padding: 2px 2px 2px 2px;
// }
// body.borders i {
//   border: 1px solid purple;
//   padding: 2px 2px 2px 2px;
// }
