@use 'colors';
@use 'mixins';
html {
  font-size: 100%;
}

/*16px*/
body {
  background-color: #F6F3EA;
  font-family: "Robot Condensed", sans-serif;
  font-weight: 200;
  line-height: 1.65;
  color: #323133;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2.75rem 0 1.05rem;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  line-height: 1.15;
  margin: 0 20px 0 20px;
  text-align: center;
}

h1 {
  font-size: 4.209em;
  color: #323133;
  font-weight: 800;
}

h2 {
  font-size: 3.157em;
  color: #C7434E;
  font-weight: 600;
}

h3 {
  margin-top: 0;
  font-size: 2.369em;
  color: #6B6B6B;
  font-weight: 600;
}

h4 {
  margin-top: 0;
  font-size: 1.777em;
  color: #343434;
  font-weight: 400;
}

h5 {
  margin-top: 0;
  font-size: 1.333em;
  color: #6B6B6B;
  font-weight: 400;
}

h6 {
  color: #6B6B6B;
  font-weight: 400;
}

small,
.text_small {
  font-size: 0.75em;
}

abbr {
  -webkit-text-decoration-color: #C9C8C8;
          text-decoration-color: #C9C8C8;
}

.title {
  color: #323133;
  font-size: 4rem;
  margin: auto;
  padding: 30px 0;
  text-shadow: -0.5px -0.5px 0px #0C0908;
}

span.title {
  color: #C7434E;
  text-shadow: -0.5px -0.5px 0px #840A13;
}

.navlinks a {
  color: #6B6B6B;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
}

.navlinks a:visited {
  color: #6B6B6B;
}

.navlinks a:hover {
  color: #C7434E;
  font-weight: bold;
}

code {
  font-family: "Fira Code", monospace;
  font-weight: bold;
  margin: auto;
  text-align: center;
  padding-right: 30px;
  padding-left: 30px;
  display: block;
}

@media only screen and (max-width: 505px) {
  body {
    padding-bottom: 100px;
  }
  h1.title,
  span.title {
    font-size: xxx-large;
    padding-top: 20px;
  }
  div.box-2 {
    top: 10px;
  }
  .sticky-friend {
    height: 70px;
  }
  h1 {
    font-size: xx-large;
  }
  h2 {
    font-size: xx-large;
    font-style: normal;
  }
  h3 {
    font-size: x-large;
    color: #343434;
  }
  p {
    font-size: 16px;
    padding-right: 10px;
    padding-left: 10px;
  }
  footer {
    padding-top: 30px;
    text-align: center;
    font-size: xx-small;
    color: #6B6B6B;
  }
}

@media only screen and (max-width: 405px) {
  h1.title,
  span.title {
    font-size: xx-large;
  }
  div.box-2 {
    top: 10px;
  }
  .sticky-friend {
    height: 70px;
  }
  h1 {
    font-size: xx-large;
  }
  h2 {
    font-size: xx-large;
  }
  h3 {
    font-size: x-large;
  }
  h4 {
    font-size: large;
  }
  h5 {
    font-size: small;
  }
  p {
    font-size: 16px;
    padding-right: 10px;
    padding-left: 10px;
  }
  footer {
    padding-top: 30px;
    text-align: center;
    font-size: xx-small;
  }
}

html {
  font-size: 18px;
  scroll-behavior: smooth;
  position: relative;
}

body {
  color: #323133;
  margin: auto;
  max-width: 660px;
  padding: 20px;
}

a {
  color: #669BBC;
  text-decoration: none;
}

a:hover {
  color: #C7434E;
  text-decoration: none;
}

/* ------------FLEX--------- */
.container-1 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div.container-1 {
  margin: 0;
  padding: 0;
}

div.container-1 p {
  margin-bottom: 40px;
}

div.container-1 code {
  font-weight: lighter;
}

div.container-1 a {
  font-weight: bold;
  text-decoration: none;
}

.container-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.neu_parent {
  border-radius: 50px;
  background: #f6f3ea;
  -webkit-box-shadow: 20px 20px 30px #eae7de, -20px -20px 30px #fffff6;
          box-shadow: 20px 20px 30px #eae7de, -20px -20px 30px #fffff6;
}

.container-nav nav,
ul {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-items: center;
}

.box-1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

div.box-1.neu_parent {
  margin-bottom: 20px;
  margin-top: 40px;
  padding-top: 50px;
}

.box-1 img {
  display: block;
  border-radius: 50%;
  border: 2px solid #F6F3EA;
  width: 150px;
  margin: auto;
}

div.neu_parent.box-2 {
  background-color: #F6F3EA;
}

.box-2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  top: 0;
  position: sticky;
  position: -webkit-sticky;
  background-color: #F6F3EA;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
  margin-bottom: 35px;
  z-index: 6;
}

div.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: auto;
  padding-bottom: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.social i {
  padding: 10px 20px 10px 20px;
  margin: 0;
  z-index: 4;
}

.sticky-friend {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  height: 130px;
  top: 0;
  position: sticky;
  position: -webkit-sticky;
  background-color: #f6f3ea;
}

.box-3 {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  padding-top: 20px;
  border-radius: 50px;
  background: #f6f3ea;
}

.box-4 {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

.box-5 {
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6;
}

.box-6 {
  -webkit-box-ordinal-group: 8;
      -ms-flex-order: 7;
          order: 7;
}

.box-6 ul {
  margin-left: 60px;
}

/* -----------NAV ---------- */
div.box-2 {
  top: 40px;
  padding: 5px 25px 5px 25px;
}

nav ul {
  list-style: none;
  margin: 0 2px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

ul.navlinks {
  list-style-position: inside;
  margin: auto;
  padding-left: 0;
  width: 100%;
}

.navlinks li {
  padding: 10px 20px 10px 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.navlinks a {
  color: #6B6B6B;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
}

.navlinks a:visited {
  color: #6B6B6B;
}

.navlinks a:hover {
  color: #C7434E;
  font-weight: bold;
}

nav.container-nav {
  padding: 0 30px 0 30px;
}

.navlinks li {
  margin: 0;
  padding: 0;
}

.navlinks li a i {
  font-size: 20px;
}

i.fa {
  display: inline-block;
  font-size: 30px;
  line-height: 50px;
  width: 100%;
  text-align: left;
  vertical-align: bottom;
  background: none;
  color: #2A658B;
}

.fa:hover {
  color: #C7434E;
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  width: 100%;
  margin-bottom: 40px;
}

.section {
  padding-top: 10px;
  padding-bottom: 10px;
}

p {
  margin-bottom: 3.15rem;
  margin: auto;
  max-width: 600px;
  text-align: left;
  padding-bottom: 20px;
}

/*---------------MEDIA QUERIES----------------- */
@media only screen and (max-width: 750px) {
  p {
    max-width: 500px;
  }
}

@media only screen and (max-width: 650px) {
  p {
    max-width: 400px;
  }
}

@media only screen and (max-width: 600px) {
  .navlinks a {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 550px) {
  p {
    max-width: 367px;
  }
  .box-6 ul {
    margin-left: 30px;
  }
}

@media only screen and (max-width: 500px) {
  div.box-2 {
    top: 40px;
  }
  nav ul {
    list-style: none;
    margin: 0 2px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  ul.navlinks {
    list-style-position: inside;
    margin: auto;
    padding-left: 0;
    width: 100%;
  }
  .navlinks li {
    padding: 10px 20px 10px 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .navlinks a {
    text-decoration: none;
    font-weight: 400;
    font-size: 0.8rem;
  }
  p {
    max-width: 367px;
  }
  .neu_parent {
    border-radius: 50px;
    background: #f6f3ea;
    -webkit-box-shadow: 4px 4px 5px #eae7de, -4px -4px 5px #fffff6;
            box-shadow: 4px 4px 5px #eae7de, -4px -4px 5px #fffff6;
  }
  .sticky-friend {
    height: 50px;
  }
  .navlinks li {
    padding: 0;
    margin: 0;
  }
  .navlinks a {
    padding: 0;
    margin: 0;
    font-weight: 600;
    font-size: 12px;
  }
  .navlinks a:hover {
    font-weight: 200;
  }
  ul.navlinks {
    padding-left: 10px;
    padding-right: 10px;
  }
  nav.container-nav {
    padding-left: 0;
    padding-right: 0;
  }
  i.navicons.fa {
    font-size: 20px;
    line-height: 1.6;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  i.fa {
    display: inline-block;
    font-size: 25px;
    line-height: 50px;
    width: 100%;
    text-align: left;
    vertical-align: bottom;
    background: none;
  }
}

@media only screen and (max-width: 425px) {
  .title {
    font-size: 3rem;
    padding: 0;
  }
  p {
    max-width: 283px;
  }
  div.social {
    padding-top: 20px;
  }
  .box-6 ul {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 405px) {
  .sticky-friend {
    height: 90px;
  }
  div.box-2 {
    top: 40px;
    height: 30px;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
  }
  ul.navlinks {
    padding: 0;
    margin: 0;
  }
  .navlinks li {
    padding: 0;
    margin: 0;
  }
  .navlinks a {
    padding: 0;
    margin: 0;
    font-weight: 600;
    font-size: 12px;
  }
  .navlinks a:hover {
    font-weight: 200;
  }
  ul.navlinks {
    padding-left: 10px;
    padding-right: 10px;
  }
  nav.container-nav {
    padding-left: 0;
    padding-right: 0;
  }
  i.navicons.fa {
    font-size: 20px;
    line-height: 1.6;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  div.neu_parent.box-2 {
    padding-right: 0;
    padding-left: 0;
  }
  p {
    max-width: 300px;
  }
  i.fa {
    display: inline-block;
    font-size: 25px;
    line-height: 50px;
    width: 100%;
    text-align: left;
    vertical-align: bottom;
    background: none;
  }
}

footer {
  padding-top: 30px;
  text-align: center;
  font-size: xx-small;
  color: #6B6B6B;
}
/*# sourceMappingURL=styles.css.map */